{
  "development": {
    "REACT_APP_DISCOVER": "",
    "REACT_APP_WEB_API": "",
    "REACT_APP_WEB_MAP_ID": "6ee9dfe1fb5e48eca3138d80f74e08a7"
  },
  "staging": {
    "REACT_APP_DISCOVER": "",
    "REACT_APP_WEB_API": "",
    "REACT_APP_WEB_MAP_ID": "",
    "SSH_HOST": "",
    "SSH_USERNAME": "",
    "SSH_PASSWORD": ""
  },
  "production": {
    "REACT_APP_DISCOVER": "",
    "REACT_APP_WEB_API": "",
    "REACT_APP_WEB_MAP_ID": "",
    "SSH_HOST": "",
    "SSH_USERNAME": "",
    "SSH_PASSWORD": ""
  }
}
