@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body, #root, .app, .esri-view {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  .slider-container {
    width: 350px;
    padding: 5px;
    .rangeslider {
      background-color: #7cb342;
      .rangeslider__fill {
        background-color: #e6e6e6;
      }
      .rangeslider__label-item {
        font-size: 11px;
      }
      margin-bottom: 30px;
    }
  }
  form {
    padding: 5px;
  }
  .esri-view {
    flex: 1;
    .esri-component.loader {
      box-shadow: none;
    }
  }
}
